@import "tailwindcss";

@source "../index.html";
@source "./**/*.{js,ts,jsx,tsx}";
@source "../node_modules/narrative-ui/src/**/*.{js,ts,jsx,tsx}";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}
