@import "tailwindcss";

@source "../index.html";
@source "./**/*.{js,ts,jsx,tsx}";
@source "../node_modules/narrative-ui/src/**/*.{js,ts,jsx,tsx}";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
